<script>
  import Dot from './logos/Dot.svelte';
  import Element from './Element.svelte';
  import { slide } from 'svelte/transition';

  export let name,
      array;

  let isOpen = false;

  const toggle = () => (isOpen = !isOpen);
</script>

<article class="max-w-screen-2xl m-auto border-2 border-black rounded-3xl">
  <header class="flex justify-between bg-black text-white p-10 rounded-3xl cursor-pointer" on:click={toggle}
          aria-expanded={isOpen} on:keydown={() => {}}>
    <h2 class="text-4xl">
      {name.toUpperCase()}
      <span class="w-2 inline-block">
                <Dot area={name}/>
            </span>
    </h2>
    <svg width="20" height="20" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
         viewBox="0 0 24 24" stroke="currentColor">
      <path d="M9 5l7 7-7 7"/>
    </svg>
  </header>
  <nav>
    {#if isOpen}
      <article class="p-2" transition:slide={{ duration: 300 }}>
        {#each array as { name, tags, href }}
          <Element {name} {tags} {href}/>
        {/each}
      </article>
    {/if}
  </nav>
</article>

<style>
    svg {
        transition: transform 0.2s ease-in;
    }

    [aria-expanded="true"] svg {
        transform: rotate(0.25turn);
    }
</style>
