<script>
  export let color = 'red',
      filled = false;

  let background = 'bg-red-600',
      text = 'text-neutral-50',
      shadow = 'hover:shadow-red-500 hover:shadow-xl';

  $: switch (color) {
    case 'red':
      background = filled ? 'bg-red-600' : 'bg-red-100';
      text = filled ? 'text-red-100' : 'text-red-600';
      shadow = 'hover:shadow-red-500/50 hover:shadow-md';
      break;

    case 'amber':
      background = filled ? 'bg-amber-400' : 'bg-amber-100';
      text = filled ? 'text-amber-100' : 'text-amber-400';
      shadow = 'hover:shadow-amber-300/50 hover:shadow-md';
      break;
      
    case 'neutral-600':
      background = filled ? 'bg-neutral-600' : 'neutral-400';
      text = filled ? 'text-neutral-400' : 'neutral-600';
      shadow = 'hover:shadow-neutral-500 hover:shadow-md';
      break;
  }

  $: classes = `${background} ${text} ${shadow}`;
  $: classes += ' shadow rounded-full py-1 px-3 duration-200 select-none';
</script>

<span class={classes}><slot/></span>