<script>
  import Badge from './Badge.svelte';

  export let name,
      tags,
      href;
</script>

<a {href} class="flex p-6 justify-between m-6 bg-black text-white rounded-3xl">
  <h2 class="text-white text-3xl">{name}</h2>
  <article class="flex gap-6">
    {#each tags as tag}
      <Badge filled color="red">{tag}</Badge>
    {/each}
  </article>
</a>
