<svg viewBox="0 0 416 138" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M33.6 134.21H0V0.389893H92.17V29.1099H33.61V61.7699H80.9V87.1099H33.61V134.22L33.6 134.21Z" fill="white"/>
  <path
      d="M203.67 86.1499C203.67 101.42 198.69 113.87 188.73 123.51C178.8 133.13 165.88 137.96 149.99 137.96C134.1 137.96 121.15 133.13 111.22 123.51C101.26 113.87 96.2798 101.42 96.2798 86.1499C96.2798 70.8799 101.26 58.2599 111.22 48.6199C121.15 38.9799 134.07 34.1499 149.99 34.1499C165.91 34.1499 178.8 38.9799 188.73 48.6199C198.69 58.2599 203.67 70.7699 203.67 86.1499ZM173.82 86.1499C173.82 78.5299 171.59 72.3299 167.16 67.5799C162.7 62.8299 156.99 60.4499 149.99 60.4499C142.99 60.4499 137.25 62.8299 132.79 67.5799C128.36 72.3299 126.13 78.5299 126.13 86.1499C126.13 93.7699 128.36 99.7899 132.79 104.54C137.25 109.31 142.96 111.67 149.99 111.67C157.02 111.67 162.7 109.3 167.16 104.54C171.59 99.7899 173.82 93.6599 173.82 86.1499Z"
      fill="white"/>
  <path
      d="M257.9 137.97C247.27 137.97 238.5 134.24 231.63 126.8C224.76 119.35 221.3 109.88 221.3 98.3599V37.9199H251.15V91.2299C251.15 97.2299 252.77 102.15 256.04 105.97C259.28 109.79 263.56 111.68 268.81 111.68C274.06 111.68 278.19 109.82 281.55 106.06C284.94 102.3 286.62 97.5499 286.62 91.7899V37.9199H316.47V134.21H287.57V121.07C279.93 132.33 270.07 137.96 257.91 137.96L257.9 137.97Z"
      fill="white"/>
  <path
      d="M396.04 34.3601C404.69 34.3601 411.13 36.8001 415.38 41.6801V68.7001H400.75C399.86 66.3301 398.21 64.3601 395.77 62.7901C393.33 61.2301 390.67 60.4501 387.8 60.4501C383.03 60.4501 379.12 62.5701 376.07 66.8301C373.02 71.0801 371.49 76.5901 371.49 83.3401V134.2H341.64V37.9201H370.36V50.3101C373.11 45.3201 376.74 41.4001 381.24 38.5801C385.73 35.7701 390.68 34.3601 396.06 34.3601H396.04Z"
      fill="white"/>
</svg>
