<svg viewBox="0 0 346 147" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0.339844 143.21V9.38989H33.9399V143.21H0.339844Z" fill="white"/>
  <path
      d="M119.54 43.1599C130.17 43.1599 138.91 46.8899 145.81 54.3399C152.68 61.7799 156.14 71.2599 156.14 82.7699V143.21H126.29V89.8999C126.29 83.8999 124.64 78.9899 121.4 75.1799C118.13 71.3599 113.88 69.4499 108.63 69.4499C103.38 69.4499 99.2497 71.3299 95.8597 75.0699C92.4997 78.8299 90.8198 83.5899 90.8198 89.3399V143.21H60.9697V46.9199H89.8698V60.0599C97.5098 48.7999 107.37 43.1699 119.53 43.1699L119.54 43.1599Z"
      fill="white"/>
  <path
      d="M166.84 69.45V46.92H180.16V35.85C180.16 25.1 183.06 16.42 188.9 9.85C194.7 3.28 202.37 0 211.87 0C218.77 0 225.53 1.07 232.15 3.19V27.6C229.16 26.71 225.77 26.29 222.01 26.29C218.25 26.29 215.47 27.48 213.3 29.85C211.1 32.23 210 35.43 210 39.43V46.93H231.38V69.46H210V143.22H180.15V69.45H166.83H166.84Z"
      fill="white"/>
  <path
      d="M345.55 95.1499C345.55 110.42 340.57 122.87 330.61 132.51C320.68 142.13 307.76 146.96 291.87 146.96C275.98 146.96 263.03 142.13 253.1 132.51C243.14 122.87 238.16 110.42 238.16 95.1499C238.16 79.8799 243.14 67.2599 253.1 57.6199C263.03 47.9799 275.95 43.1499 291.87 43.1499C307.79 43.1499 320.68 47.9799 330.61 57.6199C340.57 67.2599 345.55 79.7699 345.55 95.1499ZM315.7 95.1499C315.7 87.5299 313.47 81.3299 309.04 76.5799C304.58 71.8299 298.87 69.4499 291.87 69.4499C284.87 69.4499 279.13 71.8299 274.67 76.5799C270.24 81.3299 268.01 87.5299 268.01 95.1499C268.01 102.77 270.24 108.79 274.67 113.54C279.13 118.31 284.84 120.67 291.87 120.67C298.9 120.67 304.58 118.3 309.04 113.54C313.47 108.79 315.7 102.66 315.7 95.1499Z"
      fill="white"/>
</svg>
