<svg viewBox="0 0 438 144" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0 6.16992H112.79V34.8899H73.2V139.99H39.6V34.8899H0V6.16992Z" fill="white"/>
  <path
      d="M159.92 39.9399C175.04 39.9399 187.38 44.7399 196.88 54.3099C206.41 63.8699 211.15 76.2899 211.15 91.5599C211.15 96.5499 210.84 100.5 210.23 103.38H137.22C138.96 108.88 141.77 113.23 145.65 116.42C149.53 119.61 154.23 121.2 159.73 121.2C164.47 121.2 168.77 120.18 172.59 118.1C176.41 116.04 178.94 113.38 180.17 110.13H204.21V121.02C201.22 127.91 195.5 133.41 187.13 137.53C178.73 141.67 169.41 143.73 159.15 143.73C143.26 143.73 130.37 138.84 120.51 129.08C110.61 119.32 105.66 106.69 105.66 91.1699C105.66 75.6499 110.7 63.7099 120.78 54.1899C130.86 44.6899 143.91 39.9199 159.91 39.9199L159.92 39.9399ZM158.24 62.4699C152.1 62.4699 147.03 64.6199 143.03 68.9499C139.03 73.2799 136.58 78.9899 135.7 86.1199H181.13C181.01 79.3699 178.81 73.7299 174.56 69.2299C170.31 64.7399 164.88 62.4799 158.25 62.4799L158.24 62.4699Z"
      fill="white"/>
  <path
      d="M323 66.5999V78.8H299.75C298.5 74.8 295.96 71.48 292.14 68.86C288.32 66.23 283.98 64.92 279.1 64.92C271.95 64.92 266.15 67.43 261.63 72.42C257.14 77.43 254.88 83.9399 254.88 91.9399C254.88 99.9399 257.11 106.27 261.54 111.28C266 116.29 271.71 118.78 278.74 118.78C283.6 118.78 288 117.47 291.88 114.84C295.76 112.21 298.39 108.9 299.76 104.9L323.01 104.72V119.55C320.14 126.68 314.61 132.49 306.42 136.99C298.2 141.5 288.92 143.76 278.53 143.76C262.64 143.76 249.75 138.93 239.89 129.31C229.99 119.67 225.04 107.22 225.04 91.95C225.04 76.68 230.02 64.06 239.98 54.42C249.91 44.78 262.83 39.95 278.75 39.95C288.86 39.95 298.03 42.4199 306.24 47.3699C314.43 52.3199 320.02 58.7199 323.01 66.5999H323Z"
      fill="white"/>
  <path
      d="M400.71 39.94C411.62 39.94 420.51 43.51 427.47 50.65C434.4 57.78 437.83 66.98 437.7 78.24V140H407.85V86.69C407.97 80.69 406.35 75.78 402.96 71.97C399.57 68.15 395.26 66.24 390.01 66.24C384.76 66.24 380.66 68.09 377.33 71.77C374.03 75.47 372.38 80.25 372.38 86.13V140H342.53V0.530029H372.38V53.84C379.25 44.58 388.69 39.94 400.7 39.94H400.71Z"
      fill="white"/>
</svg>
