<script>
  import Badge from './lib/Badge.svelte';
  import Accordion from './lib/Accordion.svelte';

  const links = {
    dev: [{
      name: 'Discord',
      tags: ['Поддержка', 'Рабочий чат'],
      href: 'https://discord.gg/4SpZ3ymxMg',
    }, {
      name: 'JetBrains Space',
      tags: ['Репозитории', 'Рабочий чат'],
      href: 'https://41t.jetbrains.space/',
    }, {
      name: 'Matrix',
      tags: ['Поддержка'],
      href: 'https://matrix.to/#/#41t:matrix.org',
    }, {
      name: 'GitHub',
      tags: ['Репозитории'],
      href: 'https://github.com/41t-org',
    }, {
      name: 'GitLab',
      tags: ['Репозитории'],
      href: 'https://gitlab.com/41t',
    }],
    labs: [{
      name: 'Discord',
      tags: ['Поддержка', 'Рабочий чат'],
      href: 'https://discord.gg/4SpZ3ymxMg',
    }, {
      name: 'JetBrains Space',
      tags: ['Репозитории', 'Рабочий чат'],
      href: 'https://41t.jetbrains.space/',
    }, {
      name: 'Matrix',
      tags: ['Поддержка'],
      href: 'https://matrix.to/#/#41t:matrix.org',
    }, {
      name: 'Teletype.in',
      tags: ['Блог'],
      href: 'https://teletype.41t.space/',
    }, {
      name: 'GitHub',
      tags: ['Репозитории'],
      href: 'https://github.com/41t-org',
    }, {
      name: 'GitLab',
      tags: ['Репозитории'],
      href: 'https://gitlab.com/41t',
    }],
    design: [{
      name: 'Discord',
      tags: ['Поддержка', 'Рабочий чат'],
      href: 'https://discord.gg/4SpZ3ymxMg',
    }, {
      name: 'JetBrains Space',
      tags: ['Рабочий чат'],
      href: 'https://41t.jetbrains.space/',
    }, {
      name: 'Invision App',
      tags: ['Доски', 'Ссылки'],
      href: 'https://www.invisionapp.com/',
    }, {
      name: 'Figma',
      tags: ['Дизайны'],
      href: 'https://www.figma.com/',
    }],
    org: [{
      name: 'Discord',
      tags: ['Поддержка', 'Рабочий чат'],
      href: 'https://discord.gg/4SpZ3ymxMg',
    }, {
      name: 'JetBrains Space',
      tags: ['Рабочий чат', 'Документы', 'Блог'],
      href: 'https://41t.jetbrains.space/',
    }, {
      name: 'Matrix',
      tags: ['Поддержка'],
      href: 'https://matrix.to/#/#41t:matrix.org',
    }, {
      name: 'Open Collective',
      tags: ['Донаты', 'Информация'],
      href: 'https://opencollective.com/41t',
    }],
    space: [{
      name: 'Discord',
      tags: ['Поддержка', 'Общение', 'Рабочий чат'],
      href: 'https://discord.gg/4SpZ3ymxMg',
    }, {
      name: 'JetBrains Space',
      tags: ['Рабочий чат'],
      href: 'https://41t.jetbrains.space/',
    }, {
      name: 'Element.io',
      tags: ['Поддержка', 'Общение'],
      href: 'https://matrix.to/#/#41t:matrix.org',
    }],
  };

  let tags = new Map(),
      search = '';

  $: filteredLinks = Object.entries(links).map(([name, array]) => [
    name,
    array.filter(({ name }, index) => {
      if (array[index].tags.filter(x => {
        if (tags.get(x)) return [...tags.keys()].includes(x)
      }).length === 0) return null;
      if (search) return name.toLowerCase().includes(search.toLowerCase());
      return name;
    }),
  ]);

  Object.values(links).map(area => area.map(link => link.tags.map(tag => tags.set(tag, true))));

  let tagKeys = [];

  for (let key of tags.keys()) tagKeys.push(key);
</script>

<header class="m-10 space-y-4">
  <article class="grid gap-4 max-w-screen-2xl m-auto rounded-3xl bg-black text-white p-10">
    <input
        bind:value={search}
        class="bg-neutral-900 rounded px-2 py-1"
        placeholder="Поиск...">
  </article>
  <section class="flex flex-wrap gap-4 justify-center">
    {#each [...tags] as tag}
      <button on:click={() => {
            tag[1] = !tag[1];
            tags.set(tag[0], tag[1]);
          }}>
        <Badge filled color={tag[1] ? 'amber' : 'neutral-600'}>{tag[0]}</Badge>
      </button>
    {/each}
  </section>
</header>

<main class="m-10 space-y-8">
  {#each filteredLinks as [name, array]}
    <Accordion {name} {array}/>
  {/each}
</main>